@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> signInManager

<ul class="navbar-nav">
	@if (signInManager.IsSignedIn(User))
	{
		<li>
			<div class="dropdown">
				<a class="btn btn-none dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
					@User.Identity!.Name
				</a>
				<ul class="dropdown-menu">
					<li><a class="dropdown-item" href="#">Change Password</a></li>
					<li><a class="dropdown-item" href="#">See Other User Options</a></li>
					<div class="dropdown-divider"></div>
					<li><a class="dropdown-item" asp-action="logout" asp-controller="account">logout</a></li>
				</ul>
			</div>
		</li>
	}
	else
	{
		<li class="nav-item">
			<a asp-action="Register" asp-controller="account" class="nav-link text-dark">Register</a>
		</li>
		<li class="nav-item">
			<a asp-action="login" asp-controller="account" class="nav-link text-dark">Login</a>
		</li>
	}
</ul>